<% layout("/layouts/boilerplate") %>

<body>
    <div class = "col-md-8 offset-md-2">
    <h3><%=listing.title %></h3>

    <div class="card" style="width: 18rem;">
  <img src="<%= listing.image && listing.image.url ? listing.image.url : '' %>" class="card-img-top" alt="...">
  <div class="card-body">
     <ul>
        <li><%=listing.description %></li>
        <li><%=listing.price %></li>
        <li><%=listing.location %></li>
        <li><%=listing.country %></li>

    </ul>
</div>
</div>

<hr/>
<div >
    <h4>Reviews</h4>
    <form method="POST" action="/listings/<%= listing.id %>/reviews"  class="needs-validation" novalidate>
        <div class="mb-3 mt-3">
            <label 
            for="review" 
            class="form-label">Add a review</label>
            <input 
            type="range" 
            min="1" 
            max="5" 
            class="form-range" 
            name="review[rating]" 
            id="rating" >
        </div>
        <div class="mb-3 mt-3 ">
            <label for="comment" class="form-label">Comments</label> 
            <textarea  
            rows="5" 
            cols="30"  
            class="form-control" 
            name="review[comment]" 
            id="comment" 
            required
            ></textarea>
        <div class="invalid-feedback">Please enter a comment.</div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
    </form>

    <hr/>
    <h4>All Reviews</h4>
    <ul>
        <% for(let review of listing.reviews){ %>
            <li> <%= review.comment %> - Rating: <%= review.rating %></li>
        <% } %>
    </ul>
</div>
 
   
    <a href="/listings/<%=listing._id%>/edit" class="btn btn-dark">Edit </a>
    <br/><br/>
    <form method="post" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="btn btn-danger">Delete </button>
    </form>
</div>    
</body>
